.jumbotron {
	background: url('images/jumbotron.jpg') top center no-repeat;
	background-size: cover;
	padding-top: 1rem;
}

.jumbotron h1 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.1;
}

.jumbotron p {
	font-size: 1.25em;
	color: black
}

.jumbotron p.lead {
	font-size: 1.5em;
	font-weight: 300;
}

.jumbotron .container {
	background: rgba(230, 230, 230, 0.8);
	padding: 20px;
}

button {
	cursor: pointer;
}