.jumbotron {
	background: url('images/jumbotron.jpg') top center no-repeat;
	background-size: cover;
	padding-top: 1rem;
}

.jumbotron h1 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 5rem;
	font-weight: 300;
	line-height: 1.1;
}

.jumbotron p {
	font-size: 1.25em;
	color: black
}

.jumbotron p.lead {
	font-size: 1.5em;
	font-weight: 300;
}

.jumbotron .container {
	background: rgba(230, 230, 230, 0.8);
	padding: 20px;
}

.jumbotron .alert {
	opacity: 0.8;
}

.jumbotron form {
	margin-top: 60px;
	margin-bottom: 10px;
}

.jumbotron .help-block {
	height: 70px;
}

button {
	cursor: pointer;
}

.button-loading .indicator {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -55%);
}

/* animated loading animation */
.glyphicon-refresh-animate {
	animation: spin .7s infinite ease-in-out;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

/* add some spacing on loading buttons */
button span.glyphicon-refresh-animate {
	margin-right: 0.5em;
}

div.loader {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #002200;
}

div.loader .spinner {
	font-size: 120px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
}