<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="FC Goście captive portal">
	<meta name="author" content="Patryk Kozłowski">
	<title>{{title}}</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/tether.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Przełącz nawigację">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="/cgi-bin/captive.lua/index/index">FC Goście</a>

	<div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item{% if 'index/index' == activePath then%} active{%end%}">
				<a class="nav-link" href="/cgi-bin/captive.lua/index/index">Logowanie</a>
			</li>
			<li class="nav-item{% if 'about/motivation' == activePath then%} active{%end%}">
				<a class="nav-link" href="/cgi-bin/captive.lua/about/motivation">Dlaczego token zamiast hasła</a>
			</li>
			<li class="nav-item{% if 'about/geekness' == activePath then%} active{%end%}">
				<a class="nav-link" href="/cgi-bin/captive.lua/about/geekness">Że też Ci się chciało</a>
			</li>
		</ul>
	</div>
</nav>

{*view*}

<div class="container">
	<hr/>
	<footer>
		<p>&copy; Patryk Kozłowski 2017</p>
	</footer>
</div>

<script src="/js/jquery.min.js" type="text/javascript" defer></script>
<script src="/js/tether.min.js" type="text/javascript" defer></script>
<script src="/js/bootstrap.min.js" type="text/javascript" defer></script>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-92815265-2', 'auto');
	ga('send', 'pageview');
</script>

{% if blocks.scripts then %}
	{*blocks.scripts*}
{% end %}

</body>
</html>