
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Podaj token</h1>
		<p class="lead text-justify">Aby uzyskać dostęp do internetu musisz wygenerować i podać w poniższym formularzu specjalny token.</p>
		<form class="mt-5 mb-5 row" method="post" action="/cgi-bin/captive.lua" enctype="application/x-www-form-urlencoded">
			<fieldset class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4{%if hasError then%} has-danger{%end%}">
				<div class="input-group">
					<input type="text" name="token" class="form-control form-control-lg{%if hasError then%}  form-control-danger{%end%}" placeholder="Wpisz swój token" value="{{token}}">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary btn-lg">Dalej</button>
					</span>
				</div>
				{%if errorNoToken then%}<div class="form-control-feedback text-justify">Wpisz token w polu powyżej.</div>{%end%}
				{%if errorInvalidToken then%}<div class="form-control-feedback text-justify">Wpisany token jest nieprawidłowy. Wygeneruj nowy token.</div>{%end%}
				{%if errorTokenExpired then%}<div class="form-control-feedback text-justify">Ważność Twojego tokena wygasła. Wygeneruj nowy token.</div>{%end%}
				{%if not hasError then%}<div class="form-control-feedback">&nbsp;</div>{%end%}
			</fieldset>
		</form>
		<p class="text-justify">Tokenizer znajduje się na komodzie w przedpokoju. Jeżeli potrzebujesz pomocy, poproś o nią któregoś z domowników (Tosia też potrafi wygenerować token, wystarczy podnieść ją na wysokość routera - będzie wiedziała co robić dalej).</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Użyj przycisku</h2>
			<p class="text-justify">W przedpokoju obok routera znajduje się małe, białe pudełko z zielonym przyciskiem. Kiedy wciśniesz przycisk, urządzenie wygeneruje i wyświetli token przygotowany specjalnie dla Ciebie.</p>
		</div>
		<div class="col-md-4">
			<h2>Przepisz token</h2>
			<p class="text-justify">Przepisz wygenerowany token do formularza znajdującego się powyżej. Pośpiesz się, token wyświetla się tylko 10 sekund!</p>
		</div>
		<div class="col-md-4">
			<h2>To już wszystko!</h2>
			<p class="text-justify">Ciesz się łatwym dostępem do internetu w naszym domu. :-)</p>
		</div>
	</div>
</div>