
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Gratulacje</h1>
		<p class="lead text-justify">Możesz teraz korzystać z internetu.</p>
	</div>
</div>

<img src="//delivery.way2traffic.com/clt/hit.gif?tit=8196&tvl=1000" alt="" />
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-92815265-2', 'auto');
	ga('send', 'pageview');

</script>